.container {
  border: 1px solid red;
  width: 256px;
  height: 256px;
  display: flex;
  flex-direction: column;
}

.grid {
  border: 1px solid rebeccapurple;
  flex: 1;
  display: flex;
}

.square {
  border: 1px solid black;
  flex: 1;
}