.container {
  border: 1px solid red;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.grid {
  flex: 1;
  display: flex;
}

.square {
  border: 1px solid white;
  background-color: white;
  flex: 1;
}